.make-btn(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  border:none;
  background:none;
  margin:@btn-margin;
  .make-btn-size(@btn-base-padding-vertical, @btn-base-padding-horizontal, @btn-base-font-size, @btn-base-line-height,@btn-base-border-radius);
  &.btn-block{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left:0;
    margin-right:0;
  }

}

.make-btn-style(@text-color, @bg-color, @border-color: darken(@bg-color,30%)){
  color:@text-color;
  background-color:@bg-color;
  &:hover{
    background-color:darken(@bg-color, 5%);
  }

  &:focus,
  &:active,
  &.active{
    background-color:darken(@bg-color, 10%);
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] &{
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @bg-color + @btn-disable-shift;
      color:@text-color + @btn-disable-shift;
      &.btn-bordered{
        border: @btn-border-width solid @border-color + @btn-disable-shift;
      }
    }
  }
  &.btn-bordered{
    border: @btn-border-width solid @border-color;
  }
  &.btn-gradient{
    .gradient(@bg-color);
    &:hover{
      .gradient(darken(@bg-color, 5%));
    }

    &:focus,
    &:active,
    &.active{
      .gradient(darken(@bg-color, 10%));
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] &{
      &,
      &:hover,
      &:focus,
      &:active,
      &.active {
       .gradient(@bg-color + @btn-disable-shift);
        color:@text-color + @btn-disable-shift;
        &.btn-bordered{
          border: @btn-border-width solid @border-color + @btn-disable-shift;
        }
      }
    }
    &.btn-bordered{
      border: @btn-border-width solid @border-color;
    }
  }
}

.make-btn-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  &.btn-rounded{
    border-radius: @border-radius; 
  }
}

