// Button Defaults
@btn-border-width:.15em;
@btn-margin:.2em;
@btn-disable-shift:#333;

//Base Size
@btn-base-padding-horizontal: 1em;
@btn-base-padding-vertical: .5em;
@btn-base-font-size: 1.1em;
@btn-base-line-height: 1.5;
@btn-base-border-radius:.3em;

//Small Size
@btn-small-padding-horizontal: .5em;
@btn-small-padding-vertical: .3em ;
@btn-small-font-size: .9em;
@btn-small-line-height: 1.5;
@btn-small-border-radius:.2em;

//Large Size
@btn-large-padding-horizontal: 1.3em ;
@btn-large-padding-vertical: .8em ;
@btn-large-font-size: 1.6em;
@btn-large-line-height: 1;
@btn-large-border-radius:.5em;
